@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Poppins:wght@400;500&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --purple500: #282254;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
  --max-width: 1200px;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
button {
  padding: 10px 15px;
  border: none;
  background-color: #9c239e;
  color: white;
  font-size: 20px;
  border-radius: 10px;
}
button:hover {
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}
/* Header section design  */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container ul {
  list-style: none;
}
.container a {
  text-decoration: none;
  color: white;
}

header {
  background-color: var(--purple300);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 10px black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  font-size: 32px;
  font-weight: 600;
  color: white;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li:hover {
  border-bottom: 2px solid white;
  transition: 0.2s ease-in;
}

/* Hero section design  */

.hero {
  background-image: url(./images/hero_image.png);
  height: 100vh;
  display: grid;
  color: white;
  place-items: center;
  text-align: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero h1 {
  font-size: 100px;
}
.hero p {
  font-size: 25px;
}
.hero h3 {
  font-size: 30px;
}

/* Music section design  */

.music {
  background: var(--purple500);
  color: white;
}
.music .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.ipad-iphone-img {
  position: relative;
  top: 400px;
  margin-top: -400px;
}

.music h2{
    margin-top: 20px;
}